---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components';

const response = await fetch(
  process.env.NODE_ENV === 'development'
    ? 'http://localhost:4000/'
    : 'http://daily-server:4000/',
);
const posts = await response.json();

---

<Layout title="daily">
  <div class="items-center px-4 max-w-screen-2xl mx-auto md:flex md:px-8">
    <div class="mt-8 grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
      {
        posts.map((item) => {
          return <Card items={item} />;
        })
      }
    </div>
  </div>
</Layout>

<style>

  @font-face {
    font-family: 'LXGWWenKaiMono-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/LXGWWenKaiMono-Bold.ttf') format('truetype');
  }

  body {
    font-family: 'LXGWWenKaiMono-Bold', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
</style>
